html {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #01898e;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0c81ff;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

#logo{
    width:250px;
}